<style>

.tooltip {
  position: absolute;
  text-align: left;
  padding: 4px;
  font: 14px sans-serif;
  background: #FAFAFA;
  pointer-events: none;
}

canvas{
  cursor: pointer;
}

</style>

<canvas id="bubble-chart"></canvas>
<script src="//d3js.org/d3.v4.min.js"></script>
<script>
d3.json("/data/nasdaq_market_capitalization/nasdaq-market-capitalization.json", function(error, data){
  if(error) throw error;

    var canvas = document.querySelector("canvas"),
    context = canvas.getContext("2d"),
    width = Math.min(600, window.innerWidth*0.9, window.innerHeight*0.9),
    height = width,
    tau = 2 * Math.PI;

  var factor = width/600;

  d3.select(canvas).attr("width", width).attr("height", height);

  data.forEach(function(d){
    d.market_cap = + d.market_cap;
    d.index = + d.index;
    d.r = factor*(+ d.r);
    d.x = factor*(+ d.x);
    d.y = factor*(+d.y);
    d.vx = (+d.vx);
    d.vy = (+d.vy);
  });

  var color = d3.scaleOrdinal(d3.schemeCategory20c);

var simulation = d3.forceSimulation(data).stop();


d3.select(canvas)
  .on("mousemove", mousemoved)
  .on("click", clicked)
  .on("mouseleave", mouseleft);

var canvasMouseState = {
  x: null,
  y: null
}

var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("display", "none");

//window.requestAnimationFrame(draw)

function draw(){

  context.clearRect(0, 0, width, height);
  context.save();
  context.translate(width / 2, height / 2);
  context.strokeStyle = "#333";
  data.forEach(function(d) {
   context.beginPath();
    context.moveTo(d.x + d.r, d.y);
    context.arc(d.x, d.y, d.r, 0, tau);
    context.fillStyle = d.color;
    context.fill();
    context.stroke();
  });

  if(canvasMouseState.node){
    var node = canvasMouseState.node;
    context.strokeStyle = "#E91E63";
    canvas.lineWidth = 2;
    context.beginPath();
    context.moveTo(node.x + node.r, node.y);
    context.arc(node.x, node.y, node.r, 0, tau);
    context.fillStyle = node.color;
    context.fill();
    context.stroke();
  }

  
  context.restore();

  //window.requestAnimationFrame(draw)
}

draw()

function mousemoved(){
  canvasMouseState.x = d3.event.x - canvas.getBoundingClientRect().left - width / 2;
  canvasMouseState.y = d3.event.y - canvas.getBoundingClientRect().top - height / 2;
  canvasMouseState.node = simulation.find(canvasMouseState.x, canvasMouseState.y);

  div.style("display", "inline")
      .text(canvasMouseState.node.name + " [" + canvasMouseState.node.symbol + "]: " + canvasMouseState.node.market_cap_label)
      .style("left", (d3.event.x + 0.7*canvasMouseState.node.r + window.pageXOffset) + "px")
      .style("top", (d3.event.y  - 0.7*canvasMouseState.node.r - 30 + window.pageYOffset) + "px")
      .style("box-shadow", "0px 2px 30px " + canvasMouseState.node.color);
  draw();
}

function mouseleft(){
  div.style("display", "none");
  canvasMouseState.x = null;
  canvasMouseState.y = null;
  canvasMouseState.node = null;
  draw();
}

function clicked(){
  window.open(canvasMouseState.node.summary);
}

});




</script>